header {background-color: black;}
.headerImage {width:50%;}
.headerBlock {
    text-align: center; 
    display: block; 
    float: right; 
    width: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* careful - this font will not scale nicely */
    font-size: 3em; 
    color: #f8fbfc;
    padding-top:2%;
}