<article>
  <h2>Receiving data from an API</h2>

  <!-- this is a demo form to illustrate validation -->
  <app-simple-form></app-simple-form>
  <hr/>

  <!-- handy for debugging -->
  <!-- user will click a button to get one photo -->

  <!-- we don't need a <form> tag... -->
    <!-- when you use a <form> tag in Angular,
      you get an NgForm (with associated functionality ) 
     this makes the form very efficient
    -->
    <form>
      <!-- a <select> element for the category -->
        <select name="cats" [(ngModel)]="whichCat">
          <option *ngFor="let cat of categories">{{cat}}</option>
        </select>
      <input type="number" placeholder="which ID"
      name="photo_id" #photo_id="ngModel"
      required min="1" max="10" [(ngModel)]="whichID"/>
      <!-- if a <button> is inside a <form> it behaves as <submit> -->
      <button (click)="handleStuff()" >get one photo</button>
    </form>

  <pre>{{onePhoto |json}}</pre>
  <hr/>
  <pre>{{photos |json}}</pre>
</article>