<app-head></app-head>
<article>
  <!-- this is a template for our component -->
  <section>
    <h2>Welcome to Angular</h2>
    <!-- here we listen for a custom event called 'teatime' -->
    <!-- use *ngIf to render or NOT render. Use [hidden] to show-hide existing content -->
    <app-child *ngIf="cookieFlag=='not agreed'"  (teatime)="handleTeatime($event)" ></app-child>{{cookieFlag}}
    {{receivedData |json}}
    <!-- use {{}} for direct template content -->
    <p>{{title}} drink: {{drink}} one plus two is {{1+2}}</p>
    <!-- [] let us inject data as attributes -->
    <!-- we COULD use {{}} -->
    <img [src]="i" [alt]="a" [title]="t" />
    <hr/>
    <!-- one way EVENT binding OUT OF the button component -->
    <!-- anythong with $ at the start is part of Angular -->
    <!-- we can choose to attach our own data packets to this custom event -->
    <button (click)="handleStuff($event)" >Feed Cats</button>
    <hr/>
    <!-- ngModel is automatiocally available when we have the FormsModule -->
    <!-- Angular calls this banana in a box [()]-->
    <input [(ngModel)]="catName" placeholder="Cat Name" /><br/>
    <p>The cat is called {{catName}}</p>
    <!-- we can instantiate our custom components -->
    <app-portfolio></app-portfolio>
    <!-- [stocks] is in app.component.ts and 'stocks' is in my-stocks.ts -->
    <app-my-stocks [stocks]='stocks' [whichCat]="catName"></app-my-stocks>
  </section>
</article>
<app-foot></app-foot>